.profile {
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px grey;
  background-color: #fff;
  margin: 0 auto;
  color: #9ea9b5;
}

.description {
  padding: 30px;
  text-align: center;
}

.avatar {
  margin: 10px;
}

.mb {
  margin-bottom: 10px;
}

.name {
  composes: mb;
  font-size: 20px;
  font-weight: bold;
  color: #1f3349;
  margin-top: 40px;
}

.name,
.tag,
.location {
  composes: mb;
}

.stats {
  background-color: #f3f6f9;
  list-style: none;
  display: flex;
  border-top: 1px solid #e6eaf1;
}

.stats li {
  flex: 1;
  padding: 20px 0;
  border-right: 1px solid #e6eaf1;
}

.stats li:last-child {
  border-right: none;
}

.element {
  display: block;
  text-align: center;
}

.label {
  composes: element;
  margin-bottom: 5px;
}

.quantity {
  composes: element;
  color: #1f3349;
  font-weight: bold;
  font-size: 18px;
}
