.frendlist {
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px grey;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  color: #9ea9b5;
}

.item {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 0px grey;
  margin-bottom: 10px;
  padding: 10px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}
